# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.DS_Store

# Data
data/
!data/.gitkeep

# dbt
medical_warehouse/dbt_packages/
medical_warehouse/target/
medical_warehouse/logs/

# Dagster
dagster_home/
