# Data Collection
telethon
python-dotenv

# Data Warehouse
dbt-postgres
psycopg2-binary

# Data Enrichment
ultralytics
opencv-python
pandas

# API
fastapi
uvicorn
sqlalchemy
pydantic

# Orchestration
dagster
dagster-webserver
dagster-postgres

# Utilities
requests
tqdm
